# 01 Importing libraries and data set

In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [2]:
#Importing the data set
path = r'/Users/renubalaji/Documents/CareerFoundry/Python/Instacart Basket Analysis'
merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_orders_products_merged.pkl'))

In [3]:
merged.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,...,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,_merge
user_id,,,,,,,,,,,,,,,,,,,,,
1,196,Soda,77,7,9.0,2539329,prior,1,2,8,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,2398795,prior,2,3,7,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,473747,prior,3,3,12,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,2254736,prior,4,4,7,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,431534,prior,5,4,15,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [4]:
merged.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [5]:
merged.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [6]:
merged.rename(columns = {'STATE' : 'state'}, inplace = True)

In [7]:
merged.rename(columns = {'Age' : 'age'}, inplace = True)

In [8]:
merged.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [9]:
merged.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
user_id,,,,,,,,,,,,,,,,,,,,,
1,196,Soda,77,7,9.0,2539329,prior,1,2,8,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,2398795,prior,2,3,7,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,473747,prior,3,3,12,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,2254736,prior,4,4,7,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,196,Soda,77,7,9.0,431534,prior,5,4,15,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [10]:
#Drop unnecessary columns
merged.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', 'price_range_loc', 'busiest day', 'busiest_days',
       'Busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'median_days_since_prior_order',
       'order_frequency_flag', 'first_name', 'last_name', 'gender', 'state',
       'age', 'date_joined', 'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [11]:
df_dropped = merged.drop (columns = ['order_number', 'product_id',
       'add_to_cart_order', 'product_name', 'aisle_id'])

In [12]:
df_dropped.columns

Index(['department_id', 'prices', 'order_id', 'eval_set', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'reordered',
       'price_range_loc', 'busiest day', 'busiest_days',
       'Busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'median_days_since_prior_order',
       'order_frequency_flag', 'first_name', 'last_name', 'gender', 'state',
       'age', 'date_joined', 'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [13]:
df_merged = df_dropped

In [14]:
df_merged.columns

Index(['department_id', 'prices', 'order_id', 'eval_set', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'reordered',
       'price_range_loc', 'busiest day', 'busiest_days',
       'Busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'median_days_since_prior_order',
       'order_frequency_flag', 'first_name', 'last_name', 'gender', 'state',
       'age', 'date_joined', 'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

# 02 Downsampling the data (due to error in running)

In [20]:
# Creating a randomized list to test np.random.rant () <= 0.7 to sample the data

np.random.seed(4)
dev = np.random.rand(len(df_merged)) <= 0.7

In [21]:
# Splitting the dataframe into two samples

# Store 70% of the sample in dataframe big
big = df_merged[dev] 

# Store 30% of the sample in dataframe small
small = df_merged[~dev]

In [22]:
# Checking the sizes
len(df_merged)

32434212

In [23]:
len(big) + len(df)

32434212

In [24]:
# Shape smaller dataframe

small.shape

(9729729, 28)

In [26]:
# Exports data to pkl

small.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.10_ords_prods_cust_small.pkl'))